@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Chrome, Edge, Safari */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #f8fafc; /* slate-50 */
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb {
        background: #cbd5e1; /* slate-300 */
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #0284c7; /* blue-600 (Primary Brand) */
    }

    /* Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #cbd5e1 #f8fafc;
    }
}
